<div class="search">
  <input class="search__input">
    <div class="search__inset--icon"></div>
    <div class="search__inset--label"></div>
  </input>
</div>

<div id="detail_view">

  <h1>Cabernet Merlot</h1>
  <h2>Greg Norman Estates</h2>
  <div class="avg_rating">4</div>

  <div class="wine_img">
    <img src="" alt="" />
    <div class="review_btn">Review Wine</div>
    <div class="fav_btn">Add to Favorites</div>
  </div>

  <h3>Cabernet Merlot</h3>
  <h4>Limestone Coast, 2011</h4>
  <h4>Nappa, California</h4>

  <p>This wine was one of the best wines I had all summer. It was great at cookouts and had a pleasant aftertaste. I give this a 5 bottle rating! It's the best.</p>
  <p class="comment_by">Paul L., Colorado</p>

  <br />

</div>
