<div class="search">
  <input class="search__input">
    <div class="search__inset--icon"></div>
    <div class="search__inset--label"></div>
  </input>
</div>

<div id="detail_view">

  <h1>Big House Red</h1>
  <h2>California Red Wine</h2>
  <div class="avg_rating">
    <div class="white_bottle_small"></div>
    <div class="white_bottle_small"></div>
    <div class="white_bottle_small"></div>
    <div class="white_bottle_small"></div>
  </div>

  <div class="wine_img">
    <img src="http://sas.guidespot.com/bundles/guides_70/assets/widget_bBQAPQJbLnh7Ku7s_rxKwG.jpg" alt="" />
    <a href="#/review"><div class="review_btn">Review Wine</div></a>
    <a href="#"><div class="fav_btn">Add to Favorites</div></a>
  </div>

  <h3>Cabernet Merlot</h3>
  <div class="region">Limestone Coast, 2011</div>
  <div class="location">Nappa, California</div>

  <br />

  <div class="review">
    <p class="comment_by">Paul L. (Colorado)</p>
    <div class="usr_rating">
      <div class="white_bottle_small"></div>
      <div class="white_bottle_small"></div>
      <div class="white_bottle_small"></div>
      <div class="white_bottle_small"></div>
    </div>
    <p>This wine was one of the best wines I had all summer. It was great at cookouts and had a pleasant aftertaste. I give this a 5 bottle rating! It's the best.</p>
  </div>

  <div class="review">
    <p class="comment_by">Kristin M. (Colorado)</p>
    <div class="usr_rating">
      <div class="white_bottle_small"></div>
      <div class="white_bottle_small"></div>
      <div class="white_bottle_small"></div>
      <div class="white_bottle_small"></div>
    </div>
    <p>I discovered this wine at a friend's gathering. It was one of the best affordable wines I've had so far. I'm definitely going to try this one again!</p>
  </div>

  <div class="review">
    <p class="comment_by">Steve K. (Colorado)</p>
    <div class="usr_rating">
      <div class="white_bottle_small"></div>
      <div class="white_bottle_small"></div>
      <div class="white_bottle_small"></div>
      <div class="white_bottle_small"></div>
    </div>
    <p>Big House Red is one of my regular favorites. It has a light note and great after taste.</p>
  </div>

  <div class="review">
    <p class="comment_by">Duke B. (Michigan)</p>
    <div class="usr_rating">
      <div class="white_bottle_small"></div>
      <div class="white_bottle_small"></div>
      <div class="white_bottle_small"></div>
      <div class="white_bottle_small"></div>
    </div>
    <p>I found this wine in a local corner store. It was pretty tasty. I'll definitely try this one out again.</p>
  </div>

  <div class="review">
    <p class="comment_by">Michele L. (Colorado)</p>
    <div class="usr_rating">
      <div class="white_bottle_small"></div>
      <div class="white_bottle_small"></div>
      <div class="white_bottle_small"></div>
    </div>
    <p>This was a great wine but it was a bit on the pricey side. It had an after taste that I didn't like. I give this 3 bottles.</p>
  </div>

  <div class="review">
    <p class="comment_by">Jeff B. (Colorado)</p>
    <div class="usr_rating">
      <div class="white_bottle_small"></div>
      <div class="white_bottle_small"></div>
      <div class="white_bottle_small"></div>
    </div>
    <p>A friend recommended this wine. While I don't usually by cheap wine, this one was well worth it. I still wouldn't give this more than a 3 bottle rating.</p>
  </div>

  <div class="review">
    <p class="comment_by">Maria V. (Virginia)</p>
    <div class="usr_rating">
      <div class="white_bottle_small"></div>
      <div class="white_bottle_small"></div>
    </div>
    <p>I was at a work party when they had this wine. It was too strong and got me really drunk at a work party. I've had better wines before.</p>
  </div>

  <br />

</div>
