<div id="others">

  <div class="search">
    <input class="search__input">
      <div class="search__inset--icon"></div>
      <div class="search__inset--label"></div>
    </input>
  </div>

  <div class="filter">
    <!-- switch from red to white -->
    <div class="rotate-right">
      <input type="checkbox" name="toggle" id="toggle">
      <label for="toggle"></label>
    </div>

    <!-- switch labels -->
    <div class="select-labels">
      <p>Red</p>
      <p>White</p>
    </div>

    <!-- dropdown selector -->
    <div>
      <label>
        <select>
          <option value="First Option">Merlot</option>
          <option value="Second Option">Cabernet Sauvignon</option>
          <option value="Third Option">Syrah</option>
          <option value="Fourth Option">Pinot Noir</option>
        </select>
      </label>
    </div>

  </div>

  <!-- repeating row layout for search results -->
  <div class="wine-row">
    <a ng-href="#/detail">
      <div class="wine-image"><img src="http://sas.guidespot.com/bundles/guides_70/assets/widget_bBQAPQJbLnh7Ku7s_rxKwG.jpg"></div>
      <div class="wine-name-group">
        <div class="wine-name">Big House Red</div>
        <div class="wine-maker">California Red Wine</div>
      </div>
      <div class="wine-rating">4</div>
    </a>
  </div>

  <div class="wine-row">
    <div class="wine-image"><img src="http://weeklywinejournal.files.wordpress.com/2010/03/tait-wine1.jpg"></div>
    <div class="wine-name-group">
      <div class="wine-name">The Ball Buster</div>
      <div class="wine-maker">Barossa Valley</div>
    </div>
    <div class="wine-rating">4</div>
  </div>

  <div class="wine-row">
    <div class="wine-image"><img src="http://trishatruly.files.wordpress.com/2009/10/cheap-fun-wine.jpg"></div>
    <div class="wine-name-group">
      <div class="wine-name">Cheap Red Wine</div>
      <div class="wine-maker">Vin Ordinaire, Ltd.</div>
    </div>
    <div class="wine-rating">3</div>
  </div>

  <div class="wine-row">
    <div class="wine-image"><img src="http://0.tqn.com/d/wine/1/0/N/C/mondaviprivateselection.jpg"></div>
    <div class="wine-name-group">
      <div class="wine-name">Private Selection</div>
      <div class="wine-maker">Robert Mondavi</div>
    </div>
    <div class="wine-rating">3</div>
  </div>

  <div class="wine-row">
    <div class="wine-image"><img src="http://farm5.static.flickr.com/4144/5414309945_2b6af880c7.jpg"></div>
    <div class="wine-name-group">
      <div class="wine-name">Dancing Bull Vintage</div>
      <div class="wine-maker">Dancing Bull</div>
    </div>
    <div class="wine-rating">3</div>
  </div>

  <div class="wine-row">
    <div class="wine-image"><img src="http://collegecandy.files.wordpress.com/2013/11/4a05b5f0f1706699_cheap_wine_b.jpg%3Fw%3D275%26h%3D504"></div>
    <div class="wine-name-group">
      <div class="wine-name">Paisano Merlot</div>
      <div class="wine-maker">Carlo Rossi</div>
    </div>
    <div class="wine-rating">2</div>
  </div>

</div>
