<div id="profile_view">
  <div class="header">Mary Jane Doe</div>

  <div class="favorites"><span class="bold">Favorites</span><span>23</span></div>
  <div class="reviewed"><span class="bold">Reviewed</span><span>57</span></div>
  <div class="shared"><span class="bold">Shared</span><span>128</span></div>

  <div class="profile_image"><img src="http://media.cirrusmedia.com.au/LW_Media_Library/594partner-profile-pic-An.jpg" alt="" /></div>
  <div class="cover_image"><img src="http://s3.amazonaws.com/carr-winery/photos/contents/60/slide/Paredon-8-slideshow.jpg?1334265078" alt="" /></div>

  <div class="infobar">
    <div class="social">
      <span class="fb"></span>
      <span class="twt"></span>
      <span class="pin"></span>
      <span class="g"></span>

      <span class="email">maryjane@gmail.com</span>
    </div>
  </div>

  <div class="badges">
    <img src="../images/badges.jpg" alt="" />
  </div>
</div>
