<div class="search">
  <input class="search__input">
    <div class="search__inset--icon"></div>
    <div class="search__inset--label"></div>
  </input>
</div>

<div id="review_view">

  <h1>Big House Red</h1>
  <h2>California Red Wine</h2>
  <div class="avg_rating">
    <div class="white_bottle_small"></div>
    <div class="white_bottle_small"></div>
    <div class="white_bottle_small"></div>
    <div class="white_bottle_small"></div>
  </div>

  <div class="wine_img">
    <img src="http://sas.guidespot.com/bundles/guides_70/assets/widget_bBQAPQJbLnh7Ku7s_rxKwG.jpg" alt="" />
    <a href="#/detail"><div class="back_btn">Back to Reviews</div></a>
    <a href="#"><div class="note_btn">Add a Note</div></a>
  </div>

  <h3>Cabernet Merlot</h3>
  <div class="region">Limestone Coast, 2011</div>
  <div class="location">Nappa, California</div>

  <br />

  <form action="#/detail">

    <textarea rows="5" name="review" class="input_container"></textarea>
    <span class="circle_x"></span>

    <div class="instructions">Enter your review above and select how many bottles you rate it by clicking on the bottles.</div>

    <div class="bottle_ratings">
      <input type="checkbox" id="bottle1" class="button-settings"/>
      <label for="bottle1"></label>

      <input type="checkbox" id="bottle2" class="button-settings"/>
      <label for="bottle2"></label>

      <input type="checkbox" id="bottle3" class="button-settings"/>
      <label for="bottle3"></label>

      <input type="checkbox" id="bottle4" class="button-settings"/>
      <label for="bottle4"></label>

      <input type="checkbox" id="bottle5" class="button-settings"/>
      <label for="bottle5"></label>
    </div>

    <input type="submit" class="submit">

  </form>

</div>
